{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Часть 1. Этап 2. Проверочные вопросы
{% endblock %}
{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <p>
                            На следующей странице будет представлен список регионов, в которых проживают участники
                            данного исследования.
                            <br>
                            Про каждый из регионов помимо его названия Вам будет известна следующая информация
                            <br>
                            <b>Средний возраст населения</b> - среднее значение возраста населения конкретного региона.
                            <br>
                            <b> Индекс коррупции</b> - индекс, отражающий уровень бытовой коррупции в регионе (от 1 до
                            100). Чем выше данный
                            индекс,
                            тем больше жителей этого региона считают, что в их регионе высокий уровень коррупции.
                            <br>
                            <b>Индекс потребительских цен</b> - показатель изменения цены на потребительские товары и
                            услуги (за 2019 год, в
                            процентах
                            от значения предыдущего года)
                            <br>
                            В Части 2 исследования Вам будет необходимо предположить, сколько из 100 участников,
                            бросивших монетку, укажут, что
                            им выпал <b>Орел</b>. При этом Вам необходимо сделать <b>два предположения</b> - по одному
                            для каждого региона, за
                            исключением
                            того региона, в котором проживаете Вы.
                            <br>
                            Ваш бонус в данной части исследования будет зависеть от того, насколько близко Ваше
                            предположение к реальному
                            значению, полученному в ходе исследования. <b>Если отклонение Вашего предположения составит
                            не более, чем +-10 от
                            реального значения, Вы получите $0.50. В противном случае Ваш бонус составит $0.</b>
                            <br>
                            Для вычисления Вашего бонуса будет выбрано <b>одно случайно выбранное из двух Ваших
                            предположений.</b>
                            <br>
                            <b>Пример:</b> Реальное значение 45 человек. Если Ваше предположение было <b>55</b>, Вы <b>получите
                            $0.50</b>. Если
                            Вы предположили
                            <b>35</b>, Вы также <b>получите $0.50</b>. Если Вы предположили, например, <b>34</b> или <b>56</b>,
                            тогда Ваш бонус
                            <b>составит $0</b>.
                        </p>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    {% next_button %}
{% endblock %}


