{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    Regional Info Shown
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <style>
        .otree-body {
            max-width: initial;
        }

        .btn.btn-rounded {
            border-radius: 50px
        }
    </style>
    {% include 'cgtg/includes/regional_desc.html' %}

    <div class="row">
        {% for r in player.get_regional_data %}
            <div class="col-4 my-3">
                <div class="card">
                    <div class="card-header">{{ r.name }}</div>
                    <div class="card-body">
                        {% for foo in r.info %}
                            <div>{{ foo.info_label }}: {{ foo.value }}
                                <button type="button" class="btn-sm btn btn-primary btn-rounded btn-icon"
                                        data-toggle="popover"
                                        title="Описание для: <b>{{ foo.info_label }}"
                                        data-html="true"
                                        data-trigger="hover"
                                        data-content="{{ foo.info_description }}"><i
                                        class="fa fa-info"></i></button>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    {% next_button %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}
