{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose regional parameters
{% endblock %}


{% block content %}
    {% autoescape off %}
        <table class="table">
            {% for param in Constants.params %}

                <tr>
                    <td><input type="checkbox" name="{{ param.name }}" id="{{ param.name }}"/></td>
                    <td><label for="{{ param.name }}">
                        {{ param.title }}
                    </label>
                    </td>
                    <td>
                        <label for="{{ param.name }}">
                            {{ param.description }}
                        </label>
                    </td>
                </tr>

            {% endfor %}
        </table>

    {% endautoescape %}

    {% next_button %}
{% endblock %}
