{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    TG Beliefs
{% endblock %}
{% block content %}
    <style>
        .otree-body {
            max-width: 1200px;
        }
    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Инструкции
                </div>
                <div class="card-body">
                    Для каждого из трех регионов, которые принимают участие в исследовании, попробуйте угадать
                    какую сумму чаще всего будут возвращать участники Б участнику А с которыми они в паре, если участник
                    А им пошлет {{ Constants.tg_endowment }}$?
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for r,f in data_to_show %}
            <div class="col-4 my-3">
                <div class="card">
                    <div class="card-header">
                        {{ r.name }}
                    </div>
                    <div class="card-body">
                        <ul class="list-group mb-3   list-group-flush">
                            {% for foo in r.info %}
                                 <li class="list-group-item d-flex justify-content-between align-items-center">
                                     {{ foo.info_label }}:
                                  <span class="badge bg-primary text-white rounded-pill lg">{{ foo.value }}</span>
                                 </li>
                            {% endfor %}


                        </ul>
                        {{ f }}
                    </div>
                </div>
            </div>


        {% endfor %}
    </div>
    {% next_button %}

{% endblock %}
