{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
     Часть 2. Проверочные вопросы
{% endblock %}

{% block content %}


<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">

<p><b>Вам досталась роль Участника А.</b>
    <br>
    <br>
    Каждый из участников получает по $0.50.
    <br>
    <br>
    Как Участник А, Вы можете послать Участнику Б любую сумму от $0 до $0.50.
    <br>
    <br>
    Cумма, отправленная Вами, будет <b>умножена на 3</b> (например, если вы пошлете Участнику Б $0.25, то он получит
    $0.75).
    <br>
    <br>
    В свою очередь, Участник Б может вернуть любое число из полученной суммы вам назад.
    <br>
    <br>
    Напоминаем, что Участник Б, состоящий с Вами в паре, может быть из любого из двух регионов (из тех двух, в которых
    Вы не проживаете), поэтому Вам необходимо будет принять <b>два решения</b> - по одному для каждого региона.
    <br>
    <br>
    <b>Ваш бонус в Части 3 исследования будет складываться из 1) той суммы, которая осталась у Вас на руках после
        принятия решения, и 2) суммы, полученной Вами обратно от Участника Б. Для расчета бонуса будет выбрано решение
        по тому региону, из которого на самом деле оказался Участник Б, состоящий с Вами в паре.</b></p>
                </li>
            </ul>

        </div>
    </div>
</div>
    {% next_button %}
{% endblock %}

