{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Часть 2. Проверочные вопросы
{% endblock %}

{% block content %}


    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <p><b>Вам досталась роль Участника {{ player.role }}.</b>

                    </li>
                </ul>

            </div>
        </div>
    </div>
    {% next_button %}
{% endblock %}

