{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}

    <style>
        .myimg {
            height: 200px;
            overflow: hidden;
            border-color: #DADADA;
            border-style: solid;
            border-width: 0;
            margin-bottom: 20px;
        }

        .myimg img {
            display: block;
            margin: auto;

        }

        .alert {
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-device-width: 480px) {

            img {
                display: block;
                margin: 0 auto;
                margin-left: auto;;
                width: 100%;
                heigth: auto;
            }
        }
    </style>
{% endblock %}
{% block title %}
    Общая инструкция
{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-body">



    <p>
        В данный момент мы проводим межрегиональное исследование, поэтому Ваши ответы очень важны для нас!
        В исследовании принимают участие люди из трех регионов.
        Названия регионов будут показаны Вам далее.
    </p>

    <p>
        Данное исследование состоит <b>из трех частей</b>:
        <br>
        В Части 1 Вы должны будете подбросить монетку и указать, что Вам выпало.
        <b>Если Вам выпал Орел, Ваш дополнительный бонус в этой части исследования составит $0.25; в случае, если выпала
            Решка, Ваш бонус будет равен $0.</b>

    </p>


    <p>
        Инструкция для Части 2 будет показана вам позднее.
    </p>

    {% next_button %}

{% endblock %}