{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}

<style>
    .myimg {
        height: 200px;
        overflow: hidden;
        border-color: #DADADA;
        border-style: solid;
        border-width: 0;
        margin-bottom: 20px;
    }

    .myimg img {
        display: block;
        margin: auto;

    }

    .alert {
        margin: 0;
        padding: 0;
    }

    @media only screen and (max-device-width: 480px) {

        img {
            display: block;
            margin: 0 auto;
            margin-left: auto;;
            width: 100%;
            heigth: auto;
        }
    }
</style>
{% endblock %}

{% block title %}
Часть 1
{% endblock %}

{% block content %}
<p>
    Мы начинаем Часть 1 нашего исследования. Пожалуйста, подбросьте обычную монетку или, если её нет под рукой, пройдите
    по ссылке и выберите любой из приглянувшихся генераторов подбрасывания монетки (https://clck.ru/W5An4). <b>Напоминаем, если Вам выпал
    Орел, Ваш бонус в этой части исследования составит $0.25; в случае, если выпала Решка, Ваш бонус будет равен $0.</b>
</p>

{% endblock %}


